{% extends "todo_app/base.html" %}
{% block title %} ABOUT PAGE {% endblock title %}

{% block content %}
<section>
    <div class="jumbotron jumbotron-fluid ">
      <div class="container">
        <h1 class="display-4"><center>TO-DO LİST</center></h1>
        <p class="lead"><center>This is to-do list for Python Django Web Development </center></p>
        <p class="lead"><center>Just follow the list </center></p>
        <p class="lead"><center>If you follow this list correctly, You will not make mistakes </center></p>
        <p class="lead"><center>You can update anything </center></p>
        <br/><br/>

        <div class="text-center">
        <button type="button" class="btn btn-outline-success">Create TO-DO List</button>
      </div>
      </div>
    </div>
 </section>

{% endblock content %}